<div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">
<div class="page-header">
  <h1>All of the Concerts</h1>
</div> 



<center>

<div class="col-sm-4">
            <h2>By Week</h2>
            <hr/>
            <div class="date-picker">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" data-amt="7" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" data-amt="7" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
</center>

 <center>
 <table class="table table-hover" id="Events">
  <thread>
    
  </thread>
  <tbody>
    <tr>
        <td>aaaa</td>
    </tr>
    <tr>
        <td>aaaa</td>
    </tr>
    <tr>
        <td>aaaa</td>
    </tr>
    <tr>
        <td>aaaa</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>My footer</td>
    </tr>
    <tfoot>
</table>
</center>      

</div>
</div>
</div> 



