<form id="ticketForm" action='/events/addTicket' method='post'>
      Price: <input id="ticket-price" type="text" name="price"><br>
      Seat: <input id="ticket-seat" type="text" name="seat"><br>
      <input id="ticketSubmission" type="submit" value="Make Ticket">
</form>