<!DOCTYPE html>
<html>
<head></head>
  <div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

  <img class="logo" src="https://y7v4p6k4.ssl.hwcdn.net/53129a2cf9a1aac37d00061b/53129aa9f9a1aac37d000627_BerkeleyStub.jpg" width="268px" alt="53129aa9f9a1aac37d000627_BerkeleyStub.jpg"> 
<ul class="nav nav-pills">

  <li class="active">
    <a href="#">All Events</a>
  </li>
  <li><a href="#">My Events</a></li>
</ul>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</div></div></div>
<body>

    <%= yield %>
</body>
</html>
